@import "../../../styles/palette";

:host {
  display: flex;
  margin: auto;
  justify-content: center;
}

.tile {
  flex: 1 1 auto;
  background-color: $sb-background-color;
  margin: 10px 0;

  .type {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
  }

  .match {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .sport {
      text-align: left;
    }

    .teams {
      flex: 1 1 auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      .team {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
      }

      .team-separator {
        margin: 0 5px;
      }
    }

    .status {
      text-align: right;
    }
  }

  .actions {
    display: flex;
    flex: 1 1 auto;

    .action-btn {
      flex: 1 1 auto;
    }
  }
}
