@import "../../styles/palette";

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.title {
  opacity: 0.7;
}

.card-details {
  background-color: $sb-background-color;

  .type {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
  }

  .match {
    display: flex;
    justify-content: space-between;

    .sport {
      flex: 0 1 auto;
    }

    .teams {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
    }

    .odds {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
    }
  }

  .amount-fields {
    margin-top: 14px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    .result {
      flex: 1 1 auto;
      justify-content: space-around;

      h2 {
        margin-top: 0;
        margin-bottom: 24px;
      }
    }
  }

  .actions {
    display: flex;
    flex: 1 1 auto;
    align-items: center;

    .action-btn {
      flex: 1 1 auto;
      margin: 6px;
    }
  }
}
