<mat-card class="tile">
  <mat-card-header class="type">{{match.type}}</mat-card-header>
  <mat-card-header class="match">
    <h2 class="sport">{{match.sport}}</h2>
    <ng-container *ngFor="let team of match.teams; let i = index">
      <div class="teams">
        <div class="team">
          <mat-card-title>{{team.name}}</mat-card-title>
          <mat-card-subtitle>{{team.odds}}</mat-card-subtitle>
        </div>
      </div>
      <b *ngIf="i < match.teams.length -1" class="team-separator">-</b>
    </ng-container>
    <div class="status">
      <mat-card-title>{{match.status}}</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-actions class="actions">
    <button mat-flat-button color="accent" class="action-btn" [routerLink]="matchRoute">
      BET
    </button>
  </mat-card-actions>
</mat-card>
