<mat-card class="tile">
  <mat-card-header class="match">
    <h2 class="sport" mat-card-avatar>{{match.sport}}</h2>
    <div class="teams">
      <ng-container *ngFor="let team of match.teams; let i = index">
        <div class="team">
          <mat-card-title>{{team.name}}</mat-card-title>
          <mat-card-subtitle>{{team.odds}}</mat-card-subtitle>
        </div>
        <b *ngIf="i === 0">-</b>
      </ng-container>
    </div>
    <div class="status">
      <mat-card-title>{{match.status}}</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-actions class="actions">
    <button mat-flat-button color="accent" class="action-btn" [routerLink]="matchRoute">
      BET
    </button>
  </mat-card-actions>
</mat-card>
